/* === force a single font size for all text === */
body, h1, h2,h3, h4, h5, h6, p, a, li, span, div, blockquote {
    font-size: 16px !important;
    line-height: 1.5 !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
}
}
/* Increase NEWS heading size */

strong {
  font-size: 1.05em;
}

em {
  font-style: italic;
} 
/* Shift main content slightly right to align with profile */
.page__content {
  max-width: 800px;/* try 1.5rem–2.5rem */
}
/* Shift left sidebar slightly toward center */
.sidebar {
  padding-left: 3rem;   /* try 1.5rem–2.5rem */
}

