/* === force a single font size for all text === */
body, h1, h3, h4, h5, h6, p, a, li, span, div, blockquote {
    font-size: 16px !important;
    line-height: 1.5 !important;
}
/* Increase NEWS heading size */
h2 {
  font-size: 1.6em !important;
  font-weight: 700;
}
strong {
  font-size: 1.05em;
}

em {
  font-style: italic;
}
