/* === force a single font size for all text === */
body, h1, h2,h3, h4, h5, h6, p, a, li, span, div, blockquote {
    font-size: 16px !important;
    line-height: 1.5 !important;
  border-bottom: none !important;
  padding-bottom: 0 !important;
}

/* Increase NEWS heading size */

strong {
  font-size: 1.05em;
}

em {
  font-style: italic;
} 
/* Keep sidebar fixed, but shift slightly toward center */
.sidebar {
  margin-left: 30px;
}

/* Reduce space between sidebar and main content */
.page__content {
  margin-left: 400px;
}
/* Reduce left page padding that causes the big gap */
